params.primer5 = "AGCACCTAGTAACCGTTGCTAGGA"     
params.primer3 = "GTTATGTACAAGCTCACCAACGG"
params.primerMismatchCount = 3
params.alignmentThreshold = 0.85
params.minimumReadLength = 50
params.convert_unknown_to_none = "FALSE"
params.primersToCheck = "BOTH"
params.crispr = 'cas12a'
params.threads = 48
params.alignmentThreshold = 0.80
process.scratch = true
