params.organism_reference = "/dartfs/rc/lab/M/McKennaLab/resources/genomes/human/hg38/plus_tcf_sequences/hg38_plus_tcf_targets.fa"
params.bait_seq_name = "cpf1_targets"
params.primer5 = "CTAGCAGATCACCGTAAGGA"     
params.primer3 = "CACTGTACTCTACGCGACTC"
params.primers_extension = 4
params.aligner = "needle"
params.primerMismatchCount = 3
params.alignmentThreshold = 0.85
params.minimumReadLength = 50
params.convert_unknown_to_none = "FALSE"
params.umiStart = -1
params.umiLength = 12
params.minUMIReadCount = 1
params.primersToCheck = "BOTH"
params.primerMismatchCount = 3
params.trim_read_bases = 0
params.cpu_count = 12
process.executor = 'slurm'
params.crispr = 'cas12a'