params.primer5 = "CTAGCAGATCACCGTAAGGA"     
params.primer3 = "CACTGTACTCTACGCGACTC"
params.aligner = "needle"
params.primerMismatchCount = 3
params.alignmentThreshold = 0.85
params.minimumReadLength = 50
params.convert_unknown_to_none = "FALSE"
params.umiStart = -1
params.umiLength = 12
params.minUMIReadCount = 1
params.primersToCheck = "BOTH"
process.executor = 'slurm'
params.crispr = 'cas12a'
